PORT=4000
MONGODB_URI=
JWT_SECRET=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
TERMII_API_KEY=
TERMII_SENDER_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=
FIREBASE_PROJECT_ID=
ENVIRONMENT=